$main: "school";
$child: "box";
$language: "en"; // English
$gap: 20px;

.#{$main} {
  padding: $gap;
  @if $language == "en" {
    direction: ltr;
  } @else {
    direction: rtl;
  }
  margin-left: $gap;

  &-#{$child} {
    padding: calc($gap / 2);
  }

  &:hover &-#{$child} {
    background-color: #eee;
  }
}
