$names:
  "books" 20px red 18,
  "games" 30px green 18,
  "dvds" 20px blue;

@each $name, $p, $color, $fs in $names {
  .#{unquote($name)} {
    padding: $p;
    @if $fs {
      font-size: #{$fs}px;
    } @else {
      font-size: 16px;
    }
    border-bottom: 2px solid $color;
    color: #444;
  }
}