%fs-base {
  font-size: 20px;
}

$fw-bold: bold;

$max-mobile: 575px;

.box {
  h2 {
    @extend %fs-base;
  }
  p {
    @extend %fs-base;
  }
}

@media (max-width: $max-mobile) {
  %fs-base {
    font-size: 16px;
  }

  .box {
    h2,
    p {
      span {
        font-weight: $fw-bold;
      }
    }
  }
}
